#Tutto il repo — fallback
*                     @RonsiOrg/team-global
/progetto1/           @RonsiOrg/team-1
/progetto2/           @RonsiOrg/team-2
/progetto3/           @RonsiOrg/team-3
/progetto4/           @RonsiOrg/team-1 @RonsiOrg/team-2
